<div class="contededor">
    <p class="aviso">{{msg}}</p>
    <a href="/"><button class="boton">Inicio</button></a>
</div>
<button class="boton"><a href="/api/productos/form">Ingresar Productos</a></button>
<button class="boton"><a href="/api/productos">Ver productos</a></button>
<button class="boton"><a href="/api/carrito">Ir a Carritos</a></button>
<button class="boton"><a href="/api/chat">Ir al Chat</a></button>